header {
  background-color: oklch(14.7% 0.004 49.25);
  background-image: url("./../../assets/person-hold-glowing-ai-interface-600nw-2665216027.jpg");
  background-size: cover;    
  background-position: center;
  height: 500px;              
}
